.ListaRestaurantes {
  margin-top: 1.5rem;
  padding: 2rem;
}

.menu_busca {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.menu_busca_ordenacao{
  display: flex;
  gap: 1em;
}
